{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'datafetch_locator:layerData' question.layer_name %}">{{ question.layer_name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No layer defined.</p>
{% endif %}

<form action="{% url 'datafetch_locator:add_layer' %}" method="post">
{% csrf_token %}
    <input type="text" name="input_layer_name" placeholder="layer name">
    <br>

    <input type="submit" value="Add Layer">
</form>