<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layer</title>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</head>
<body>
    {% if layer_name %}
    <form action="{% url 'datafetch_locator:locatorMain' layer_name %}" method="post">
        {% csrf_token %}
            <select name="layer">
                {% for each_layer in layer_name.all %}
                    <option value="{{each_layer.id}}">{{ each_layer.layer_name }}</option>
                {% endfor %}
            </select>
            <br>
            <br>
            <input type="submit" value="Locator">
    </form>
    {% else %}
        No Layer registered in DB
    {% endif %}

    <input type="text" placeholder="Layer name" name="new_layer">
    <input type="submit" value="Add layer">
</body>
</html>