<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layer</title>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</head>
<body>
    {% if layer_name %}
        <form action="{% url 'datafetch_locator:locatorMain' %}" method="post">
            {% csrf_token %}
                <select name="layer">
                    {% for each_layer in layer_name.all %}
                        <option value="{{each_layer.id}}">{{ each_layer.layer_name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Delete" name="delete_layer_button">
                <br>
                <br>
                <input type="submit" value="Locator" name="locator_main_submit">
        </form>
    {% else %}
        No Layer registered in DB
    {% endif %}

    <form action="{%url 'datafetch_locator:add_layer' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Layer name" name="input_layer_name" required>
        <input type="submit" value="Add layer" name="add_layer" onclick="testFunction()">
    </form>

</body>
</html>